@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
    color: #e69b2b;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;


}

body {
    overflow-x: hidden;

}

/*Responsive Navbar with logo and DM*/
nav {

    height: 6rem;
    width: 100vw;
    background-color: transparent;
    display: flex;
    z-index: 10;
}

/*Styling logo*/
.logo {
    padding: 1vh 1vw;
    text-align: center;
}

.logo img {
    padding: 0px 10px;
    width: 170px
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-dropdown {
    position: absolute;
    z-index: -100;
    box-shadow: 0 3px 12px rgba(255, 166, 0, 0.671);
    display: none;  
    text-decoration: none;
    border-radius: 25px;}
   
      nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      nav ul li {
        float: left;
        position: relative;
      }
      
      nav ul li a {
        display: block;
        color: #e69b2b;
        padding: 0 20px;
        background: #ff990000;
        text-decoration: none;
        line-height: 70px;
      }
      
      nav ul li a:hover {
                background: #2581dc00;
                color: #ffffff;
                transition: .4s;
      }
      
      nav ul li a:not(:only-child):after {
                padding-left: 4px;
                content: '  ▾'; }
      
      nav ul li ul li {
        min-width: 160px;
        }
      
      nav ul li ul li a {
        padding: 15px;
        line-height: 20px;
        
        
      }
      
      .nav-dropdown {
        position: absolute;
        z-index: 1;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
        display: none;  }
      
      /* Mobile Hamburger Menu */
      
      .nav-mobile {
        display: none;
        height: 70px;
        width: 70px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ff9900;
      }
      
      /* Media Query for Navigation */
      
      @media only screen and (max-width: 800px) {
      
        .nav-mobile {
          display: block;
        }
        
        nav {
          width: 100%;
          padding: 0 0px;
        }
        
        nav ul {
          display: none;
        }
        
        nav ul li {
          float: none;
        }
        
         nav ul li a {
                padding: 15px;
                line-height: 20px; 
        }
      
        nav ul li ul li a {
                padding-left: 40px;
                background-color: rgba(128, 128, 128, 0.007);
        }
        
        .nav-dropdown {
          position: static;
         
        }
      }
      
      @media screen and (min-width: 800px) {
        .nav-list {
          display: block !important; } }
      #nav-toggle {
        position: absolute;
        left: 18px;
        top: 22px;
        cursor: pointer;
        padding: 10px 35px 16px 0; }
        #nav-toggle span,
        #nav-toggle span:before,
        #nav-toggle span:after {
          cursor: pointer;
          border-radius: 1px;
          height: 4px;
          width: 30px;
          background: rgb(255, 167, 34);
          position: absolute;
          display: block;
          content: '';
          transition: all 300ms ease-in-out; }
        #nav-toggle span:before {
          top: -10px; }
        #nav-toggle span:after {
          bottom: -10px; }
        #nav-toggle.active span {
          background-color: transparent; }
          #nav-toggle.active span:before, #nav-toggle.active span:after {
            top: 0; }
          #nav-toggle.active span:before {
            transform: rotate(45deg); }
          #nav-toggle.active span:after {
            transform: rotate(-45deg); }
      
      
  

.nav-links li a {
    text-decoration: none;
    margin-left: 0 0.7vh;

}

.nav-links li a:hover {
    transition: all ease-in-out 250ms;
    color: #b97b06;
}

.nav-links li {
    position: relative;

}

.nav-links li a:hover::before {
    width: 80%;
}

